body{
	background-color: maroon;
	color: whitesmoke;
}

header {
	text-align: center;
	font-family: fantasy;
	font-size: 32px;
	color: white;
}

label {
		text-align: right;
		float: left;
		padding: 3px;
		margin-right: 15px;
		display: inline-block;
		width: 30em;
		vertical-align: top;
}
